<header>
  <h4>URL Shortener</h4>
  <img src="images/ExportedContentImage_00.png" alt="" style="height: 200px ;">
</header>
<div class="row">
  <form action="">
    <input type="url" required>
    <button type="submit" class="btn btn-primary">縮網址</button>
  </form>
</div>