<div class="container py-5">
  <div class="card-body mx-auto d-flex flex-column align-items-center">
    <div>
      <h4 class="fs-2 text-center">URL Shortener</h4>
      <img src="images/ExportedContentImage_00.png" alt="" class="img img-fluid rounded mx-auto d-block col-3">
    </div>
    <div class="mt-3 col-8 ">
      <form action="/" method="post" class="form" novalidate>
        <div class="input-group mb-3">
          <input type="url" name="url" class="form-control" placeholder="http://" aria-label="http://"
            aria-describedby="button-addon2" value="{{Data.url}}" required>
          <button class="btn btn-primary" type="submit" id="button-addon2">縮網址</button>
          <div class="invalid-feedback">請輸入完整網址</div>
        </div>
      </form>
    </div>

    {{#if Data}}
    <div class="card return-url col-10">
      <div class="card-body d-flex flex-column align-items-center">
        <h4>Success! Please use the link!</h4>
        <h4><a href="{{Data.shortenUrl}}" id='shortenUrl'>localhost:3000{{Data.shortenUrl}}</a></h4>
        <button class="copyButton btn btn-primary btn-sm mt-1" onclick="copy()">copy</button>
      </div>
    </div>
    {{/if}}
  </div>
</div>

<script>
  // copy 
  function copy() {
    const shortenUrl = document.querySelector('#shortenUrl')
    const board = navigator.clipboard
    board.writeText(shortenUrl.innerText)
      .then(() => alert('success to copied'))
      .catch(() => alert('failed'))
  }
</script>