<div class="container py-5">
  <div class="card-body mx-auto d-flex flex-column align-items-center">
    <div>
      <h4 class="fs-2 text-center">URL Shortener</h4>
      <img src="images/ExportedContentImage_00.png" alt="" class="img img-fluid rounded mx-auto d-block col-3">
    </div>
    <div class="mt-3 col-6 ">
      <form action="/" method="post" class="form" novalidate>
        <div class="input-group mb-3">
          <input type="url" name="url" class="form-control" placeholder="http://" aria-label="http://"
            aria-describedby="button-addon2" required>
          <button class="btn btn-primary" type="submit" id="button-addon2">縮網址</button>
          <div class="input"></div>
          <span class="magnifier"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </div>
    </form>
    {{#if Data}}
    <div class="card return-url">
      <div class="card-body">
        <h4 class="fs-2 text-center">Url: <a href="{{Data.url}}">{{Data.url}}</a></h4>
        <h4 class="fs-2 text-center">ShortenUrl: <a href="{{Data.shortenUrl}}">{{Data.shortenUrl}}</a></h4>
      </div>
    </div>
    {{/if}}
  </div>
</div>