<div class="container py-5">
  <div class="card-body mx-auto d-flex flex-column align-items-center" >
    <div>
      <h4 class="fs-2">URL Shortener</h4>
      <img src="images/ExportedContentImage_00.png" alt="" style="height: 200px ; width: 200px">
    </div>
    <div>
      <form action="/" method="post">
        <input type="url" placeholder="http://" value="" required>
      </form>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" id="UrlInput">縮網址</button>
    </div>
  </div>
</div>
