.card-body {
  border-radius: 5px;
  border: 2px solid gray;
}

.input {
  position: absolute;
}

.form :invalid {}

.form-control {
  padding-left: 30px;
}

.magnifier {
  position: relative;
  right: 425px;
  top: 7px;
  z-index: 1;
  color: #205295;
}